<br />
<br />
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3 class ="text-center">Resend unlock instructions</h3>
    <br />
    <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :unlock_token %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Resend unlock instructions", :class => 'btn btn-primary' %>
    </div>
    <% end %>
    <br />
    <%= render "devise/shared/links" %>
  </div>
</div>
