<h3 class="text-center">Games players can join:</h3>
<% @games.each do |game|  %>
  <div class="list-group">
    <% if game.player_missing? %>
      <div class="list-group-item">
        <h4><%= game.game_name %></h4>
        <% if current_user && current_user.id == game.white_user_id %>
          <%= link_to 'Waiting For Black To Join', game_path(game, id: game.id), :class => 'btn btn-default btn-large join-game-link' %>
        <% elsif current_user && current_user.id == game.black_user_id %>
          <%= link_to 'Waiting For White To Join', game_path(game, id: game.id), :class => 'btn btn-default btn-large join-game-link' %>
        <% else %>
          <%= link_to 'Join Game', game_path(game, id: game.id), method: :patch, :class => 'btn btn-success btn-large join-game-link' %>
          <%= link_to 'Watch Game', game_path(game, id: game.id), :class => 'btn btn-info btn-large join-game-link' %>
        <% end %>
      </div>
    <% end  %>
  </div>
<% end %>
<br />
<h3 class="text-center">Games in Progress:</h3>
<% @games.each do |game| %>
  <div class="list-group">
    <% if !game.player_missing? && game.game_winner.nil? %>
      <div class="list-group-item">
        <h4><%= game.game_name %></h4>
        <% if current_user && (current_user.id == game.white_user_id || current_user.id == game.black_user_id) %>
          <% if game.user_turn == current_user.id %>
            <%= link_to 'Your Turn!', game_path(game, id: game.id), :class => 'btn btn-warning btn-large join-game-link' %>
          <% else %>
            <%= link_to "Your Opponent's Turn", game_path(game, id: game.id), :class => 'btn btn-primary btn-large join-game-link' %>
          <% end %>
        <% else %>
          <%= link_to 'Watch Game', game_path(game, id: game.id), :class => 'btn btn-success btn-large join-game-link' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
<br />
<h3 class="text-center">Completed Games:</h3>
<% @games.each do |game| %>
  <div class="list-group">
    <% if !game.game_winner.nil? %>
      <div class="list-group-item">
        <h4><%= game.game_name %></h4>
        <% if current_user && game.game_winner == current_user.id %>
          <%= link_to 'You won!', game_path(game, id: game.id), :class => 'btn btn-info btn-large join-game-link' %>
        <% elsif current_user && (current_user.id == game.white_user.id || current_user.id == game.black_user_id) %>
          <%= link_to 'You lost!', game_path(game, id: game.id), :class => 'btn btn-danger btn-large join-game-link' %>
        <% elsif game.game_winner == game.white_user_id %>
          <%= link_to 'White wins!', game_path(game, id: game.id), :class => 'btn btn-info btn-large join-game-link' %>
        <% else %>
          <%= link_to 'Black wins!', game_path(game, id: game.id), :class => 'btn btn-info btn-large join-game-link' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
